{% extends 'templates/_default.nunj.html' %}


{% block main %}

    <main id="main">

        <img src="/assets/images/fevr-logo.svg" alt="Logo FEVR" id="logo" />


        <ul id="social-list">
            <li>
                <a href="https://twitter.com/__fevr" target="_blank"> <span class="icon icon-twitter"></span> @__fevr</a>
            </li>
            <li>
                <a href="https://www.facebook.com/groups/frontendersverona/" target="_blank"><span class="icon icon-facebook-official"></span> @frontendersverona</a>
            </li>
        </ul>

    </main>



{% endblock %}